@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    background: url(/Images/blurry_background.png);
    background-repeat: no-repeat;
    background-size: cover;
}


/* HEADER CSS */

.navbar{
    font-family: 'poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    width: 95vw;
    background: linear-gradient(45deg, rgb(137, 232, 170), rgb(110, 226, 246));
    color:black;
    padding: 0px 20px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    /* border: 1px solid black; */
}

.navbar .logo img{
    height: 40px;
    margin: 0px 10px;
}

.navbar .logo{
    display: flex;
    align-items: center;
    max-height: 70px;
}

.navbar .bigtext{
    font-weight: 600;
    font-size: 14px;
}

.navbar .smalltext{
    font-size: 10px;
    margin: 0;
    width: auto;
}
.navbar .menu{
    display: flex;
}

.navbar a{
    display: flex;
    align-items: center;
    font-size: 13px;
    margin: 0 14px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    padding: 2px 8px;
    border-radius: 5px;
}

.navbar a i{
    margin-right: 4px;
    
}

.selected{
    background-color: rgba(0, 0, 0, 0.1);
}

.bodyblock1{
    min-height: 90vh;
    text-align: center;
    font-family: 'poppins', sans-serif;
}



/* FOOTER CSS */


.footer{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 20px 40px;
    margin: 10px;
    height: 300px;
    background: linear-gradient(45deg, rgb(137, 232, 170), rgb(110, 226, 246));
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    font-family: 'poppins', sans-serif;
    border-radius: 10px;
}


.footer .firstsection {
    display: flex;
    flex-direction: column;
    /* height: max-content; */
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 200px;

}
.footer .firstsection img{
    height: 170px;
    width: 170px;
    margin-bottom: 20px;
}

.footer .bigtext{
    font-size: 27px;
    font-weight: 600;
}

.footer .smalltext{
    width:fit-content;
    height: auto;
    font-size: 10px;
    font-weight: 400;
    max-width: 200px;
}


.footer a{
   text-decoration: none;
   color: black;
   font-size: 13px;
   font-weight: 500;
    
}

.footer i{
    margin: 0 4px;
}

.footer ul{
   padding-left: 10px ;

}


.footer .thirdsection h5{
    margin: 20px 0 5px 5px;
}

.footer .thirdsection .contactdetails{
    font-size: 12px;
    margin-left: 10px;
}

.footer .fifthsection img{
    mix-blend-mode: darken;
    margin-top: 10px;
    height: 130px;
}

.footer .fifthsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 260px;
    text-align: center;


}

.footer .fifthsection .clgname{
    margin: 10px 0;
    font-size: 15px;
    font-weight: 600;
}

.footer .fifthsection .clgaddress{
    font-size: 11px;
}



.finalfooter{
    padding: 10px 0px;
    margin: 10px;
    font-size: 12px;
    text-align: center;
    background: linear-gradient(45deg, rgb(137, 232, 170), rgb(110, 226, 246));
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    font-family: 'poppins', sans-serif;
    border-radius: 10px;
}

.finalfooter p{
    margin: 0;
}